/* Error: Undefined variable.
 *   ,
 * 3 |   padding: $grid-gutter-width 0; }
 *   |            ^^^^^^^^^^^^^^^^^^
 *   '
 *   understrap.scss 3:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502    padding: $grid-gutter-width 0; }\a   \2502             ^^^^^^^^^^^^^^^^^^\a   \2575 \a   understrap.scss 3:12  root stylesheet";
}
