/* Error: Can't find stylesheet to import.
 *   ,
 * 8 | @import "../../src/sass/bootstrap4/functions";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets/bootstrap4.scss 8:9  @import
 *   theme.scss 2:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 8 \2502  @import \"../../src/sass/bootstrap4/functions\";\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets/bootstrap4.scss 8:9  @import\a   theme.scss 2:9              root stylesheet";
}
